
#showcase {
    height: 100vh !important;
    background-image: url('../img/showcase2.jpg');
    background-position: 0;
    background-position-y: -400px;
    color: #333;
    border-radius: 0 !important;

}


#showcase hr {
    background-color: #333;
}

.img-cover {
    height: 400px;
    width: 400px;
    margin-right: 20px;
    background-color: #fff;
    text-align: center;
}

.img-cover img {
    height: 100%;
    width: auto;
}

#editModal {
    width: 100% !important;
}
#modal-dialog {
    width: 800px !important;
    margin-right: 45% !important;
}
#modal-content {
    width: 800px !important;
    
}


.showimgblog {
    height: 500px !important;
    width: 500px;
    margin-right: 20px;
    background-color: #bbb;
}

.showimgblog img {
    height: auto;
    width: 100%;
}

.project-img {
    height: 300px !important;
    width: 430px !important;
}

.project-img img {
    height: 100%;
    width: auto;
}
#footer {

}


@media only screen and (max-width: 800px) {
    #showcase {
        background-repeat: no-repeat !important;
        background-size: 1300px;
        height: 400px !important;
    }
    #showcase h1 {
        font-size: 40px !important;
    }
    #showcase p {
        font-size: 20px;
    }
    #project-section h2 {
        font-size: 40px;
    }
    #project-section #card {
        margin-left: 25px;
    }
    #modal-content {
        width: 80vw !important; 
    }
}