{% extends 'blog/base.html' %} {% block content %}
<div class="jumbotron" id="showcase">
  <h1 class="display-3">Hello, I am Majid Nayeb!</h1>
  <p class="lead">This is my portfolio and blog site</p>
  <hr class="my-4" />
  <p>I am a web developer</p>
</div>

<div id="project-section" class="container mt-3 mb-4">
  <h2>My Projects</h2>
  <hr>
  <div class="row mt-2">
    {% for post in posts %}
    <div id="card" class="col-md-6 col-sm-12 mb-3">
      <div class="card border-primary" style="width: 18rem">
        <div class="project-img" style="height: 300px; width: 430px; text-align: center;">
          <img style="width: auto; height: 100%;" class="card-img-top img-thumbnail img-fluid" src="{{post.image.url}}" alt="{{post.title}}" />
        </div>
        
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <small class="card-subtitle">{{post.time}}</small>
          <p class="card-text">
            {{post.description}}
          </p>
          <a href="{{post.url}}" class="btn btn-primary">Source Code</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
