{% extends 'user/base.html' %}

{% block content %}

<h2 class="h3 mb-3 font-weight-normal text-center">Login</h2>
<form method="post" class="text-center">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <label>{{ field.label_tag }}</label>
            <br>
            {{ field }}
        </div>
    {% endfor %}
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Login Error!</h4>
        <p class="mb-0">{{error}}</p>
      </div>
    <button class="btn btn-primary" type="submit">Login</button>
</form>

{% endblock %}